<template>
  <div>
    <ul>
      <li> Todo A </li>
      <li> Todo B </li>
      <li> Todo C </li>
    </ul>
  </div>
</template>

<script type = "text/javascript" >

  export default {
  };
</script>
<style>
</style>
